<title>Welcome to the Premier League</title>

<table>
<h1>      </h1>
  <tr>
    <th>Club Name</th>
    <th>Position</th>
    <th>Topscorer</th>
  </tr>
  <tr>
    <td><%= @club.club_name %></td>
    <td><%= @club.position %></td>
    <td><%= @club.top_score %></td>
  </tr>   
</table>